.be-list{
	background-color:$white;

	li{
		clear:both;
		position: relative;
		padding-left:4%;
		width:96%;

		&:last-child div{
			border-bottom:none;
		}
	}

	//icon part;
	li>span{
		position:relative;
		float:left;
		padding:.4rem 0;
		margin-right:.7rem;
		img{
			float:left;
			width:3rem;
			height:3rem;
			border-radius:4rem;
		}
		.case{
			border-radius: 0;
		}
		em{
			position:absolute;
			margin-top:-.15rem;
			margin-left:-.29rem;
			display:inline-block;
			width:.6rem;
			height:.6rem;
			border-radius:.6rem;
			border: 1px solid #fff;
			background-color:red;
		}
	}

	//border bottom part;
	li>div{
		padding:.6rem 5% .6rem 0;
		line-height:1.2rem;
		span{
			display:block;
		}
	}
	li>small{
	  display: block;
	  color: #888;
	  line-height: 1.2rem;
	  padding: .8rem 5% .8rem 0;
	}

	li mark {
		position: absolute;
		overflow: hidden;
		top: 0;
		right: 0;
		width: 3.5rem;
		height: 3.5rem;
		background: none;
	}
	li mark span {
		display: block;
		width: 5rem;
		height: 1.6rem;
		line-height: 1.6rem;
		font-size: .7rem;
		font-weight: bold;
		text-align: center;
		transform: rotate(45deg);
		background-color: #f00;
		color: #fff;
		}

	h5{
		font-weight:normal;
		font-size:1rem;
		margin-bottom:.3rem;
		small{
			margin-left:.3rem;
			color:gray;
		}
		i{
			margin-left:.3rem;
		}
		em{
			font-size:.8rem;
			font-style:normal;
			float:right;
			color:gray;
		}
		a{
			color:gray;
		}
		b{
			color: #e52;
			font-size: 1.2rem;
		}
	}
	p{
		font-size:.8rem;
		color:gray;
		overflow:hidden;
		white-space:nowrap;
		text-overflow:ellipsis;
		em{
			font-style:normal;
			float:right;
		}
		i{
			margin-right:.3rem;
		}
		a{
			color:gray;
		}
	}

	//list right block;
	label{
		float:right;
		width:3rem;
		text-align:right;
		color:#666;
		i{ line-height:2.5rem; }
	}

	//icon color settings
	.fa-color-green{
		color:green;
	}

}




.be-form {
  background-color: #fff;
}
.be-form li {
  clear: both;
  padding-left: 5%;
}
.be-form span {
  float: left;
  text-align: center;
  margin-top: .4rem;
}
.be-form span + div {
  margin-left: 2.5rem;
}
.be-form div {
  position: relative;
  padding: .65rem 5% .65rem 0;
}
.be-form div > input {
  width: 100%;
  border: none;
}
.be-form div > em {
  padding: .35rem .8rem;
  position: absolute;
  top: .32rem;
  right: 5%;
  font-size: .8rem;
  color: #666;
}
.be-form label {
  float: right;
  color: #666;
}
.be-form label input {
  text-align: right;
  border: none;
}
.be-form li:last-child div {
  border-bottom: none;
}
.be-form button {
  margin-top: -.3rem;
}
.be-form li > em {
  display: block;
  text-align: center;
  padding: .7rem 0;
}
