.be-cards {
	li{
		margin: 3%;
		background-color: #fff;
	}

	h5,span{
		padding: 0 2%;
		line-height: 2.5rem;
	}
	
	div {
		padding:.5rem 2%;
	}

	label {
		float:right;
		margin:0 3%;
		color: #3af;
	}
	
	b{
		color: red;
	}
	
}
