.be-footer{
	position:fixed;
	bottom:0;
	width:100%;
	background-color: rgb(246,246,246);

	div{
		position: relative;
		float:left;
		text-align:center;
		height:2rem;
		padding:.5rem 0;
		display:inline-block;
		color:gray;
		&:active{
			background-color: lighten($gray-ccc,5%);
		}
	}
	p{
		margin-top:.1rem;
		font-size:.8rem;
	}
	
	.active{
		color:$pro-color;
	}
	li:active{
		background-color: $gray-ccc;
	}

}

//两个图标样式
.be-footer-2{
	div{
		width:50%;
	}
}
//三个图标样式
.be-footer-3{
	div{
		width:33.33%;
	}
}
//四个图标样式
.be-footer-4{
	div{
		width:25%;
	}
}
//五个图标样式
.be-footer-5{
	div{
		width:20%;
	}
}

.be-bubble{
	display: inline-block;
	position: absolute;
	margin-left: -.2rem;
	padding: .15rem .25rem;
	top: .2rem;
	border-radius: 5rem;
	font-size: .6rem;
	line-height: .6rem;
	font-weight: bold;
	color: #fff;
	border:1px solid rgb(246,246,246);
	background-color: #f00;
}

.be-bubble:empty{
	padding: .2rem .2rem;
	width:.2rem;
	height:.18rem;
}

