.ios-form{
	li{
		clear:both;
		background-color:#fff;
		padding-left:5%;
	}
	span{
		float:left;
		text-align:center;
		margin-top:.5rem;
	}
	span + div{
		margin-left:2.5rem;
	}
	div{
		//display:inline-block;
		padding:.8rem 5% .8rem 0;
	}
	label{
		float:right;
		color:#666;
	}
	li:last-child div{
		border-bottom:none;
	}
}
