.be-login{
//*{border:1px red solid;margin:1px ;}
		clear:both;
		float:left;
		width:100%;
		background-color:$white;
	li{
		padding:0 0 0 5%;
		&:last-child div{
			border-bottom:none;
		}
		div>i{
			width:2rem;
			text-align:center;
			font-size:1.3rem;
		}
		
		div>span{
			display:block;
			margin-right:35%;
		}

		div>div{
			margin:0 32% 0 2.2rem;
		}

		button{
			float:right;
			padding:.25rem .4rem;
			margin:.5rem 5% 0 0;
			font-size:.8rem;
			color:gray;
		}

		input{
			width:100%;
			margin:.4rem 0;
			padding:.3rem 0;
			border:none;
		}


		i{
			float:left;
			margin-top:.5rem;
		}

		.fa-lock{
			margin:.8rem 5% 0 0;
			float:right;
			font-size:1rem;
			color:gray;
		}
	}


}

.login-whiteTheme{
	i,label{
		color:$gray-ccc;
	}	
	label{
		color:$gray-ccc;
	}
	input,.active{
		color:#000;
	}
}
