/*
Error: Undefined variable: "$wrap-padding".
        on line 7 of /home/awoo/beUI/sass/util/whitespace.scss

2: 
3:     "../base/mixin",
4:     "../base/variable";
5: 
6: .ui-whitespace{
7:     padding-left: $wrap-padding;
8:     padding-right: $wrap-padding;
9:     box-sizing: border-box;
10:     @media (max-width: 320px) {
11:         padding-left: $wrap-padding-s;
12:         padding-right: $wrap-padding-s;

Backtrace:
/home/awoo/beUI/sass/util/whitespace.scss:7
/usr/lib/ruby/vendor_ruby/sass/script/tree/variable.rb:49:in `_perform'
/usr/lib/ruby/vendor_ruby/sass/script/tree/node.rb:50:in `perform'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:394:in `visit_prop'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `block in with_base'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:430:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:428:in `visit_rule'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `block in with_base'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:157:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:8:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:36:in `css_tree'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:20:in `render'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:278:in `render'
/usr/lib/ruby/vendor_ruby/compass/import-once/engine.rb:17:in `block in render'
/usr/lib/ruby/vendor_ruby/compass/import-once/engine.rb:29:in `with_import_scope'
/usr/lib/ruby/vendor_ruby/compass/import-once/engine.rb:16:in `render'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:492:in `update_stylesheet'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `each'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:470:in `on_file_changed'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:328:in `block in watch'
/usr/lib/ruby/vendor_ruby/listen/event/config.rb:23:in `call'
/usr/lib/ruby/vendor_ruby/listen/event/config.rb:23:in `call'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:115:in `_process_changes'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:19:in `block in loop_for'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:15:in `loop'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:15:in `loop_for'
/usr/lib/ruby/vendor_ruby/listen/event/loop.rb:84:in `_wait_for_changes'
/usr/lib/ruby/vendor_ruby/listen/event/loop.rb:42:in `block in setup'
/usr/lib/ruby/vendor_ruby/listen/internals/thread_pool.rb:6:in `call'
/usr/lib/ruby/vendor_ruby/listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$wrap-padding\".\A         on line 7 of /home/awoo/beUI/sass/util/whitespace.scss\A \A 2: \A 3:     \"../base/mixin\",\A 4:     \"../base/variable\";\A 5: \A 6: .ui-whitespace{\A 7:     padding-left: $wrap-padding;\A 8:     padding-right: $wrap-padding;\A 9:     box-sizing: border-box;\A 10:     @media (max-width: 320px) {\A 11:         padding-left: $wrap-padding-s;\A 12:         padding-right: $wrap-padding-s;"; }
