@media screen and (max-width: 319px) {
  /* line 4, ../../sass/base/rem.scss */
  html {
    font-size: 85.33333px;
  }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
  /* line 16, ../../sass/base/rem.scss */
  html {
    font-size: 85.33333px;
  }
}
@media screen and (min-width: 360px) and (max-width: 374px) {
  /* line 16, ../../sass/base/rem.scss */
  html {
    font-size: 96px;
  }
}
@media screen and (min-width: 375px) and (max-width: 383px) {
  /* line 16, ../../sass/base/rem.scss */
  html {
    font-size: 100px;
  }
}
@media screen and (min-width: 384px) and (max-width: 399px) {
  /* line 16, ../../sass/base/rem.scss */
  html {
    font-size: 102.4px;
  }
}
@media screen and (min-width: 400px) and (max-width: 413px) {
  /* line 16, ../../sass/base/rem.scss */
  html {
    font-size: 106.66667px;
  }
}
@media screen and (min-width: 414px) {
  /* line 10, ../../sass/base/rem.scss */
  html {
    font-size: 110.4px;
  }
}
